

<style>
.site-footer {
    margin: 0 !important;
}
/* styles for FAQ */
.video-wrapper {
  position: relative;
  padding-bottom: 56%;
  overflow:visible;
}
.answer-active {
  display: block !important;
}
.faq-sec {
  background: #e7eced;
  padding-top: 90px;
  padding-bottom: 40px;
  margin: 100px 0 0;
}
.faq-sec .page-width {
  padding: 0;
}
.faq-sec hr { 
  width: 350px;
  text-align: center;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 15px;
  border-color: #82a1bc4d;
}
.faq-question {
  color: #6c7b93;
  font-family: 'Tamil Sangam MN';
  font-size: 18px;
  cursor: pointer;
}
.faq-question svg {
  width: 25px;
  height: 100%;
  margin-right: 15px;
  position: relative;
  top: 9px;
}
.faq-answer {
  font-family: 'Tamil Sangam MN';
  color: #82a1bc;
  max-width:550px;
  border-bottom: 1px solid #82a1bc4d;
  padding-bottom: 15px;
  margin-bottom: 15px;
  margin-left: 46px;
  display: none;
}

/* Styles for testemolials section */
.testemolials-sec {
  margin-top: 80px;
}
.item-wrap {
  max-width: 270px;
  display: inline-block;
  position: relative;
  margin-bottom: 35px;
}
.testi-item-paragraph {
  font-family: 'Tamil Sangam MN';
  color: #6c7b93;
  font-size: 18px;
  position: relative;
  margin-bottom: 5px;
}
.testemolials-sec h4 + hr {
  width: 350px;
  text-align: center;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 50px;
}
.testemolials-sec .testi-item-paragraph + span + hr {
  width: 75%;
  display: block;
  margin-top: 0px;
  margin-bottom: 5px;
  text-align: left;
  position: relative;
  left: -2px;
  bottom: 22px
}
.testemolials-sec svg {
  width: 30px;
  height: 100%;
}
.testemolials-sec .dquate-before svg {
transform: rotate(-180deg);

}
.dquate-before {
  color: #f13b62;
  display: block;
/*  transform: rotate(-45deg);*/
  text-align: left;
  position: relative;
  right: 38px;
}
.dquate-after {
  color: #f13b62;
  display: block;
/*  transform: rotate(-45deg);*/
  text-align: right;
}
.cus-title {
  color: #f13b62;
  font-family: 'Myriad Pro';
  font-size: 16px;
  display: block;
}

/* Stylesfor details section */
.details-sec {
  background: #e7eced;
  padding-top: 30px;
  margin-top: 90px;
}
.details-grid {
  background: #FFFFFF;
  border-radius: 50px / 40px;
  width: 95%;
  display: inline-block;
  margin-left: 5%
}
.det-sec-item {
  padding-top: 50px;
  padding-bottom: 80px;
  padding-right: 30px;
}
.details-sec-subtitle {
  font-family: 'Tamil Sangam MN';
  color: #424a60;
  font-size: 24px;
  margin-bottom: 24px;
}
.cusomization-ul {
  padding: 0 20px;
}
.other-ul {
  padding: 0 20px;
}
.details-sec ul li {
  font-family: 'Tamil Sangam MN';
  color: #6c7b93;
  font-size: 17px;
  padding: 6px 0 6px 0;
  text-align: left;
  width: 100%;
  display: inline-block;
}
.details-sec ul svg {
  width: 13px;
  height: 100%;
  margin-right: 8px;
  position: relative;
  top: 3%;
}
.details-sec .get-start-btn {
  max-width: 240px;
  position: relative;
  bottom: 35px;
}

/* Styles for How It works section */
.how-it-work {
  margin-top: 80px;
}
.how-it-work-item {
  padding-top: 40px;
  padding-right: 13px;
}
.how-it-header {
  font-size: 24px;
  font-family: 'Tamil Sangam MN';
}
.how-it-work hr {
  width: 170px;
  text-align: center;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 5px;
}
.how-item-wrap {
  display: table;
}
.num-icon {
  display: table-cell;
}
.how-par-wrap {
  display: table-cell;
  background: #e7eced;
  border-radius: 8px;
  padding-right: 8px;
}
.how-par-wrap h5 {
  color: #6c7b93;
  font-size: 23px;
  margin: 0;
  padding: 25px 60px 8px 60px;
  font-family: 'Tamil Sangam MN';
}
.how-par-wrap p {
  color: #82a1bc;
  font-size: 13px;
  margin: 0;
  padding: 0px 60px 35px 75px;
}
.num-icon-cir {
  width: 60px;
  height: 60px;
  background: #f13b62;
  border-radius: 50%;
  display: inline-block;
  line-height: 60px;
  color: #fff;
  font-size: 28px;
  font-family: 'cursive';
  font-weight: bold;
  position: relative;
  top: 27px;
  left: 15px;
}

/* STYLES */
.block {
  display: block;
}
.price-block {
  min-height: 46px;
}

.frstsec .section-header1 h2 {
	margin-bottom: 0;
	display: inline-block;
	text-transform: uppercase;
	font-family: 'Tamil Sangam MN';
	font-weight: bold;
	font-style: normal;
}

.frstsec .section-header1 h2.colr-head-num {
	font-size: 24px;
}

.frstsec .section-header1 h2.colr-pnk {
	font-size: 19px;
	font-weight: 100;
}
/* Styles for Pink-bar section */
.bar-back.frstsec {
	background: #f13b62
}

.frstsec div.grid.head-text {
	margin-bottom: 40px;
	font-size: 16px;
}

.bar-item.grid__item.medium-up--one-third {
	padding-left: 12px !important;
	padding-top: 20px;
	padding-bottom: 20px;
}

.bar-item.grid__item.medium-up--one-third .grid__item.medium-up--three-quarters {
	width: 73% !important;
	padding-left: 15px !important;
/*  padding-top: 5px;*/
  position: relative;
  top: 5px;
}

.bar-item.grid__item.medium-up--one-third .grid__item.medium-up--one-quarter {
	width: 27% !important;
	max-height: 114px;
  max-width: 90px;
}

.frstsec .grid .bar-item svg {
	width: 100%;
	height: 100%;
}

.frstsec .grid .bar-item h4 {
	font-size: 18px;
	color: #fff;
	font-family: 'Tamil Sangam MN';
	font-weight: 700;
	margin-bottom: 8px;
  text-transform: capitalize;
}

.frstsec .grid .bar-item p {
	font-size: 16px;
	font-family: 'Tamil Sangam MN';
	font-weight: 700;
}

@media only screen and (min-width: 750px) {
	.grid.head-text p {
		margin-left: 12.5%;
	}
}

.frstsec .bar-background {
	width: 100%;
	background-color: #f13b62;
}
@media screen and (min-width: 591px) {
	.pink-grid {
	/*	padding-left: 53px;*/
	}
}
/* styles for prices ------------------------------*/
.service-items {
  background: #e7eced;
  padding-top: 90px;
  padding-bottom: 60px;
}
.service-item {
border: 1px solid #7383bf;
border-radius: 10px;
padding: 35px 25px 25px 25px;
margin-bottom: 30px;

}
.service-item h6, .service-item h6 {
  display: inline-block;
}

.service-item .grid__item.medium-up--one-third.text-center {
  padding-top: 40px;
}

.price-wrap h6 {
  font-size: 30px;
  position: relative;
  font-weight: 100;
  margin-bottom: 10px
}
.price-wrap h6::before {
  content: "";
  width: 65px;
  border-top: 1px solid #f13b62;
  font-size: 30px;
  position: absolute;
  left: -4px;
  top: 15px;
  transform: rotate(-45deg);
}
.price-wrap h5 {
  font-size: 42px;
  margin-bottom: 0;
}


.price-wrap span {
  font-size: 16px;
}
.offer .hour-rate {
  font-size: 19px;
}
.currency-wrap {
  position: relative;
  bottom: 4px;
}
.currency-sympols {
  font-family: 'Myriad Pro';
  font-weight: normal;
}
.hour-rate {
  font-weight: bold;
}
.hour-rate span{
  font-size: 20px;
  position: relative;
  top: 3px;
  left: 4px;
}

.item-desc {
  margin: 28px 0 12px 0;
}
.offer .item-desc {
  margin-top: 25px;
}

.offer .icon-celebration {
  max-height: 100px;

}
.icon-celebration img {
  padding: 0 14px 14px;
}

.item-desc-title {
  font-weight: bold;
  margin-bottom: 0;
  font-family: 'Myriad Pro';
  font-weight: bold;
}
.item-desc-text {
  min-height: 120px;
  font-family: 'Myriad Pro';
  font-weight: normal;
  text-align: center;
}

.item-desc-title, .item-desc-text {
  font-size: 16px;
}

.get-start-btn {
  display: inline-block;
  width: 100%;
}
.get-start-btn:hover {
  opacity: 1;
}
.get-start-btn button {
  width: 100%;
  border: 0;
  background: #f13b62;
  color: #fff;
  padding: 15px 0;
}
.bg-charact {
  font-size: 18px;
font-family: 'Tamil Sangam MN';
}
.sml-charact {
  font-size: 13px;
  position: relative;
  bottom: 3px;
  text-transform: uppercase;
  display: inline-block;
font-family: 'Tamil Sangam MN';
}

.li-wrap {
  display: table;

}
.li-wrap span {
  display: table-cell;
  width: 5%;
  height: 20px;
  vertical-align: top;
  position: relative;
  top: 7px;
}
.centered-testi {
  max-width: 700px !important;
}
.new-hero {
  width: 100vw;
  max-height: 320px;
  overflow: hidden;
  margin-bottom: 45px;
}
.new-hero img {
  width: 100%;
  height: auto;
}
.section-header1 {
  margin-top: 45px;

}/*
.grid__item.medium-up--five-sixths.medium-up--push-one-twelfth.frstsec {
  background: linear-gradient(rgba(238,238,238, 0.8), rgba(238,238,238, 0.2));
  position: relative;
  top: 105px;
}*/
</style>

<div class="frstsec">
<div class="heron page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth frstsec">
      <div class="section-header1 text-center sec1">
        <h2 class="colr-head-num">
          {{section.settings.video_head}}
        </h2>
        <h2 class="colr-pnk"> {{section.settings.video_head2}}  </h2>
      </div>
      <div class="grid head-text">
        <p class="grid__item medium-up--nine-twelfths text-center colr-text Tamil-Sangam-norm">{{section.settings.video_text}}
        </p>
      {% if section.settings.youtube_video_url != blank %}
      <div class="rte grid__item medium-up--four-sixths medium-up--push-one-sixth text-center">
        <div class="video-wrapper">
          <iframe width="100%" height="auto" src="{{section.settings.youtube_video_url}}" allowfullscreen="allowfullscreen" width="100%" max-width="750"  height="480" frameborder="0" ></iframe>
        </div>
      </div>
      </div>
      </div>
      {% else if section.settings.new_hero != blank %}
      </div>
      </div>
      <div class="new-hero">
      </div>
      <style>
      .heron, .heron > .grid {
        width: 100vw !important;
        padding: 0 !important;
        margin: 0 !important;
        max-width: none !important;
      }
      .heron {
        background: url({{ section.settings.new_hero | img_url: '1400x' }});
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        min-height: 610px;
      }

      </style>

      {% endif %}


  </div>
</div>
<div class="bar-back frstsec colr-pnk">
  <div class="page-width">
        <div class="grid pink-grid">
          <div class="bar-item grid__item medium-up--one-third">
             <div class="grid">
                <div class="grid__item medium-up--one-quarter" style="padding-left:20px;">
                  <img src="https://cdn.shopify.com/s/files/1/0003/7729/0803/files/abacus.png?7298773882897554791" alt="icon">
                </div>
                <div class="grid__item medium-up--three-quarters">
                  <h4>
                    {{section.settings.bar1_head}}
                  </h4>
                  <p class="colr-ground">{{section.settings.bar1_text}}
                  </p>
                </div>
            </div>
          </div>
          <div class="bar-item grid__item medium-up--one-third">
             <div class="grid">
                <div class="grid__item medium-up--one-quarter" style="padding-left:25px;max-height: 96px;">
 <?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="256px" height="292px" viewBox="0 0 256 292" enable-background="new 0 0 256 292" xml:space="preserve"><g><path fill="#FFFFFF" d="M223.774,57.34c-0.201-1.461-1.48-2.268-2.537-2.357c-1.055-0.089-23.383-1.743-23.383-1.743 s-15.507-15.395-17.208-17.099c-1.704-1.704-5.029-1.185-6.32-0.805c-0.191,0.056-3.388,1.043-8.679,2.679 c-5.181-14.905-14.322-28.604-30.405-28.604c-0.443,0-0.901,0.019-1.358,0.044c-4.574-6.049-10.24-8.677-15.134-8.677 c-37.464,0-55.364,46.834-60.976,70.635c-14.557,4.511-24.9,7.717-26.221,8.133c-8.126,2.548-8.382,2.805-9.449,10.462 C21.299,95.806,0.037,260.235,0.037,260.235l165.678,31.042l89.771-19.421C255.486,271.857,223.972,58.801,223.774,57.34 L223.774,57.34z M156.49,40.848c-4.161,1.288-8.891,2.751-14.018,4.338c0.005-0.987,0.009-1.96,0.009-3.022 c0-9.265-1.286-16.723-3.349-22.636C147.419,20.569,152.938,29.997,156.49,40.848L156.49,40.848z M128.852,21.365 c2.303,5.773,3.802,14.058,3.802,25.238c0,0.572-0.005,1.094-0.009,1.624c-9.118,2.824-19.024,5.89-28.954,8.966 C109.266,35.677,119.716,25.285,128.852,21.365L128.852,21.365z M117.721,10.828c1.617,0,3.246,0.548,4.805,1.622 c-12.007,5.65-24.877,19.88-30.312,48.297c-7.944,2.46-15.708,4.863-22.886,7.087C75.694,46.16,90.811,10.828,117.721,10.828 L117.721,10.828z"/><path fill="#D8D8D8" d="M221.237,54.983c-1.055-0.089-23.383-1.743-23.383-1.743s-15.507-15.395-17.208-17.099 c-0.637-0.635-1.496-0.959-2.394-1.099l-12.527,256.233l89.762-19.418c0,0-31.514-213.056-31.712-214.516 C223.573,55.879,222.294,55.072,221.237,54.983"/><path fill="#f13b62" d="M135.242,104.585l-11.069,32.926c0,0-9.699-5.176-21.586-5.176c-17.428,0-18.305,10.938-18.305,13.694 c0,15.038,39.201,20.8,39.201,56.024c0,27.712-17.577,45.558-41.278,45.558c-28.44,0-42.984-17.701-42.984-17.701l7.615-25.159 c0,0,14.949,12.835,27.565,12.835c8.242,0,11.596-6.49,11.596-11.232c0-19.617-32.16-20.492-32.16-52.724 c0-27.129,19.472-53.382,58.778-53.382C127.76,100.247,135.242,104.585,135.242,104.585"/></g></svg>
               </div>
                <div class="grid__item medium-up--three-quarters">
                  <h4>
                    {{section.settings.bar2_head}}
                  </h4>
                  <p class="colr-ground">{{section.settings.bar2_text}}
                  </p>
                </div>
            </div>
          </div>
          <div class="bar-item grid__item medium-up--one-third">
             <div class="grid">
                <div class="grid__item medium-up--one-quarter" style="padding-left:20px">
                   <?xml version="1.0" encoding="iso-8859-1"?><!-- Generator:Adobe Illustrator 19.0.0,SVG Export Plug-In . SVG Version:6 Build 0) --><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve" width="512px" height="512px"><g><path d="M31.634,37.989c1.041-0.081,1.99-0.612,2.606-1.459l9.363-12.944c0.287-0.397,0.244-0.945-0.104-1.293   c-0.348-0.347-0.896-0.39-1.293-0.104L29.26,31.555c-0.844,0.614-1.375,1.563-1.456,2.604s0.296,2.06,1.033,2.797   C29.508,37.628,30.413,38,31.354,38C31.447,38,31.54,37.996,31.634,37.989z M29.798,34.315c0.035-0.457,0.269-0.874,0.637-1.142   l7.897-5.713l-5.711,7.895c-0.27,0.371-0.687,0.604-1.144,0.64c-0.455,0.03-0.902-0.128-1.227-0.453   C29.928,35.219,29.762,34.771,29.798,34.315z" fill="#FFFFFF"/><path d="M54.034,19.564c-0.01-0.021-0.01-0.043-0.021-0.064c-0.012-0.02-0.031-0.031-0.044-0.05   c-1.011-1.734-2.207-3.347-3.565-4.809l2.148-2.147l1.414,1.414l4.242-4.243l-4.242-4.242l-4.243,4.242l1.415,1.415l-2.148,2.147   c-1.462-1.358-3.074-2.555-4.809-3.566c-0.019-0.013-0.03-0.032-0.05-0.044c-0.021-0.012-0.043-0.011-0.064-0.022   c-3.093-1.782-6.568-2.969-10.273-3.404V5h1.5c1.379,0,2.5-1.121,2.5-2.5S36.672,0,35.293,0h-9c-1.379,0-2.5,1.121-2.5,2.5   s1.121,2.5,2.5,2.5h1.5v1.156c-1.08,0.115-2.158,0.291-3.224,0.535c-0.538,0.123-0.875,0.66-0.751,1.198   c0.123,0.538,0.66,0.876,1.198,0.751c0.92-0.211,1.849-0.37,2.78-0.477l1.073-0.083c0.328-0.025,0.63-0.043,0.924-0.057V10   c0,0.553,0.447,1,1,1s1-0.447,1-1V8.03c3.761,0.173,7.305,1.183,10.456,2.845l-0.986,1.707c-0.276,0.479-0.112,1.09,0.366,1.366   c0.157,0.091,0.329,0.134,0.499,0.134c0.346,0,0.682-0.179,0.867-0.5l0.983-1.703c3.129,1.985,5.787,4.643,7.772,7.772   l-1.703,0.983C49.57,20.91,49.406,21.521,49.683,22c0.186,0.321,0.521,0.5,0.867,0.5c0.17,0,0.342-0.043,0.499-0.134l1.707-0.986   c1.685,3.196,2.698,6.798,2.849,10.619H53.63c-0.553,0-1,0.447-1,1s0.447,1,1,1h1.975c-0.151,3.821-1.164,7.423-2.849,10.619   l-1.707-0.986c-0.478-0.276-1.09-0.114-1.366,0.366c-0.276,0.479-0.112,1.09,0.366,1.366l1.703,0.983   c-1.985,3.129-4.643,5.787-7.772,7.772l-0.983-1.703c-0.277-0.48-0.89-0.643-1.366-0.366c-0.479,0.276-0.643,0.888-0.366,1.366   l0.986,1.707c-3.151,1.662-6.695,2.672-10.456,2.845V56c0-0.553-0.447-1-1-1s-1,0.447-1,1v1.976   c-1.597-0.055-3.199-0.255-4.776-0.617c-0.538-0.129-1.075,0.213-1.198,0.751c-0.124,0.538,0.213,1.075,0.751,1.198   C26.568,59.768,28.607,60,30.63,60c0.049,0,0.096-0.003,0.145-0.004c0.007,0,0.012,0.004,0.018,0.004   c0.008,0,0.015-0.005,0.023-0.005c4.807-0.033,9.317-1.331,13.219-3.573c0.031-0.014,0.064-0.021,0.094-0.039   c0.02-0.012,0.031-0.031,0.05-0.044c4.039-2.354,7.414-5.725,9.773-9.761c0.019-0.027,0.043-0.048,0.06-0.078   c0.012-0.021,0.011-0.043,0.021-0.064C56.317,42.476,57.63,37.89,57.63,33S56.317,23.524,54.034,19.564z M53.965,8.251l1.414,1.414   l-1.414,1.415L52.55,9.665L53.965,8.251z M29.793,6.021V3h-3.5c-0.275,0-0.5-0.225-0.5-0.5s0.225-0.5,0.5-0.5h9   c0.275,0,0.5,0.225,0.5,0.5S35.568,3,35.293,3h-3.5v3.021C31.445,6.007,31.113,6,30.793,6c-0.028,0-0.06,0.002-0.088,0.002   C30.68,6.002,30.655,6,30.63,6c-0.164,0-0.328,0.011-0.492,0.014C30.022,6.017,29.913,6.016,29.793,6.021z" fill="#FFFFFF"/><path d="M21.793,14h-5c-0.553,0-1,0.447-1,1s0.447,1,1,1h5c0.553,0,1-0.447,1-1S22.346,14,21.793,14z" fill="#FFFFFF"/><path d="M21.793,21h-10c-0.553,0-1,0.447-1,1s0.447,1,1,1h10c0.553,0,1-0.447,1-1S22.346,21,21.793,21z" fill="#FFFFFF"/><path d="M21.793,28h-15c-0.553,0-1,0.447-1,1s0.447,1,1,1h15c0.553,0,1-0.447,1-1S22.346,28,21.793,28z" fill="#FFFFFF"/><path d="M21.793,35h-19c-0.553,0-1,0.447-1,1s0.447,1,1,1h19c0.553,0,1-0.447,1-1S22.346,35,21.793,35z" fill="#FFFFFF"/><path d="M21.793,42h-13c-0.553,0-1,0.447-1,1s0.447,1,1,1h13c0.553,0,1-0.447,1-1S22.346,42,21.793,42z" fill="#FFFFFF"/><path d="M21.793,49h-7c-0.553,0-1,0.447-1,1s0.447,1,1,1h7c0.553,0,1-0.447,1-1S22.346,49,21.793,49z" fill="#FFFFFF"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>

               </div>

                <div class="grid__item medium-up--three-quarters">
                  <h4>
                    {{section.settings.bar3_head}}
                  </h4>
                  <p class="colr-ground">{{section.settings.bar3_text}}
                  </p>
                </div>
            </div>
          </div>


      </div>
  </div>
</div>
<div class="service-items">
  <div class="grid">
    <div class="grid__item medium-up--four-sixths   medium-up--push-one-sixth">
      <div class="grid">
        <div class="grid__item medium-up--one-third text-center ">
          <div class="service-item">
            <div class="price-wrap">
              {% if section.settings.hrs1_original_price != blank %}
              <h6 class="colr-head-num Myanmar-MN">{{section.settings.hrs1_original_price}}&euro;</h6>
              {% else %}
              <span class="block price-block"></span>
              {% endif %}
              <h5 class="colr-head-num Myanmar-MN">{{section.settings.hrs1_sale_price}}&euro;</h5>
              <span class="currency-wrap">
                <span class="currency-sympols">(zzgl.MwSt.)</span>
                <span class="hour-rate Myanmar-MN colr-head-num">/<span class="colr-head-num">1</span> Stunde</span>
              </span>
            </div>
            <div class="item-desc">
              <h6 class="item-desc-title colr-head-num">Eine Anpassung</h6>
              <p class="item-desc-text colr-head-num">Typischerweise umfasst dieses Paket eine Schnell-Anpassung. Unsicher ob Dein Wunsch darunter fällt? Schreib uns!</p>
            </div>
            <a href="/pages/kontaktformular" class="get-start-btn">
              <button type="submit" name="button" class="">
                <span class="bg-charact">U</span><span class="sml-charact">nverbindlich</span><span class="bg-charact"> A</span><span class="sml-charact">nfragen</span>
              </button>
            </a>
          </div>
        </div>
        {% if section.settings.hrs3_sale_price != blank %}
        <div class="grid__item medium-up--one-third text-center">
          <div class="service-item">
            <div class="price-wrap">
              {% if section.settings.hrs3_original_price != blank %}
              <h6 class="colr-head-num Myanmar-MN">{{section.settings.hrs3_original_price}}&euro;</h6>
              {% else %}
              <span class="block price-block"></span>
              {% endif %}
              <h5 class="colr-head-num Myanmar-MN">{{section.settings.hrs3_sale_price}}&euro;</h5>
              <span class="currency-wrap">
                <span class="currency-sympols">(zzgl.MwSt.)</span>
                <span class="hour-rate Myanmar-MN colr-head-num">/<span class="colr-head-num">1</span> HOUR</span>
              </span>
            </div>
            <div class="item-desc">
              <h6 class="item-desc-title colr-head-num">3 Schnell-AnpassunU</h6>
              <p class="item-desc-text colr-head-num">Customize the shop can be made - Can be used at once or over the time.</p>
            </div>
            <a href="/pages/kontaktformular" class="get-start-btn">
              <button type="submit" name="button" class="">
                <span class="bg-charact">U</span><span class="sml-charact">nverbindlich</span><span class="bg-charact"> A</span><span class="sml-charact">nfragen</span>
              </button>
            </a>
          </div>
        </div>
        {% else %}
        <style>
          @media only screen and (min-width: 750px) {
        .service-items .grid .grid__item.medium-up--four-sixths.medium-up--push-one-sixth .grid > div:nth-child(1) {
          margin-left: 9%;
        }
        .service-items .grid .grid__item.medium-up--four-sixths.medium-up--push-one-sixth .grid > div:nth-child(3) {
          margin-left: 9%;
        }

          .service-items .grid .grid .grid__item.medium-up--one-third.text-center {
            width: 38% !important;
          }
        }

        </style>
        {% endif %}
        <div class="grid__item medium-up--one-third text-center">
          <div class="service-item offer">
            <div class="price-wrap">
              <div class="icon-celebration">
                <img src="https://cdn.shopify.com/s/files/1/0003/7729/0803/files/png.png?3647942027934166010" alt="celebration-icon">
              </div>
              <span class="currency-wrap">
                <span class="currency-sympols block">Individuelles Angebot</span>

              </span>
            </div>
            <div class="item-desc">
              <h6 class="item-desc-title colr-head-num">Mehrere Anpassungen</h6>
              <p class="item-desc-text colr-head-num">Du hast mehrere Anpassungen, die du gerne umsetzen möchtest? Kein Problem. Schreib uns und wir sagen Dir wie viel dies kosten würde.</p>
            </div>
            <a href="/pages/kontaktformular" class="get-start-btn">
              <button type="submit" name="button" class="">
                <span class="bg-charact">U</span><span class="sml-charact">nverbindlich</span><span class="bg-charact"> A</span><span class="sml-charact">nfragen</span>
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="how-it-work text-center">
  <div class="page-width">
    <h4 class="how-it-header text-center">Und so funktioniert’s:</h4>
    <hr>
  </div>
  <div class="how-it-work-item">
      <div class="grid">
        <div class="grid__item medium-up--three-fifths medium-up--push-one-fifth ">
          <div class="how-item-wrap">
            <div class="num-icon">
              <span class="num-icon-cir">1</span>
            </div>
            <div class="how-par-wrap">
              <h5 class="text-left">{{ section.settings.quate_1_header}} </h5>
              <p class="text-left">{{ section.settings.quate_1_text}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="how-it-work-item">
        <div class="grid">
          <div class="grid__item medium-up--three-fifths medium-up--push-one-fifth ">
            <div class="how-item-wrap">
              <div class="num-icon">
                <span class="num-icon-cir">2</span>
              </div>
              <div class="how-par-wrap">
                <h5 class="text-left">{{ section.settings.quate_2_header}} </h5>
                <p class="text-left">{{ section.settings.quate_2_text}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="how-it-work-item">
          <div class="grid">
            <div class="grid__item medium-up--three-fifths medium-up--push-one-fifth ">
              <div class="how-item-wrap">
                <div class="num-icon">
                  <span class="num-icon-cir">3</span>
                </div>
                <div class="how-par-wrap">
                  <h5 class="text-left how-it-subtitle">{{ section.settings.quate_3_header}} </h5>
                  <p class="text-left">{{ section.settings.quate_3_text}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="how-it-work-item">
            <div class="grid">
              <div class="grid__item medium-up--three-fifths medium-up--push-one-fifth ">
                <div class="how-item-wrap">
                  <div class="num-icon">
                    <span class="num-icon-cir">4</span>
                  </div>
                  <div class="how-par-wrap">
                    <h5 class="text-left">{{ section.settings.quate_4_header}} </h5>
                    <p class="text-left">{{ section.settings.quate_4_text}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>


</div>

<div class="details-sec">
  <div class="grid">
    <div class="grid__item medium-up--four-sixths   medium-up--push-one-sixth text-center">
      <div class="grid">
        <div class="details-grid">
          <div class="grid__item medium-up--one-half det-sec-item">
            <h5 class="details-sec-subtitle">Typische 1-Stunden-Anpassung</h5>
            <ul class="cusomization-ul">
              {% if section.settings.customization_list_item1 != blank %}
              <div class="li-wrap">
                    <span><?xml version="1.0" encoding="iso-8859-1"?><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 70 70" style="enable-background:new 0 0 70 70;" xml:space="preserve" width="512px" height="512px"><g><g><g><path d="M26.474,70c-2.176,0-4.234-1.018-5.557-2.764L3.049,43.639C0.725,40.57,1.33,36.2,4.399,33.875 c3.074-2.326,7.441-1.717,9.766,1.35l11.752,15.518L55.474,3.285c2.035-3.265,6.332-4.264,9.604-2.232 c3.268,2.034,4.266,6.334,2.23,9.602l-34.916,56.06c-1.213,1.949-3.307,3.175-5.6,3.279C26.685,69.998,26.58,70,26.474,70z" fill="#f13b62"/></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg></span>
                <li>
                  {{section.settings.customization_list_item1}}
                </li>
              </div>
              {% endif %}
              {% if section.settings.customization_list_item2 != blank %}
              <div class="li-wrap">
                    <span><?xml version="1.0" encoding="iso-8859-1"?><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 70 70" style="enable-background:new 0 0 70 70;" xml:space="preserve" width="512px" height="512px"><g><g><g><path d="M26.474,70c-2.176,0-4.234-1.018-5.557-2.764L3.049,43.639C0.725,40.57,1.33,36.2,4.399,33.875 c3.074-2.326,7.441-1.717,9.766,1.35l11.752,15.518L55.474,3.285c2.035-3.265,6.332-4.264,9.604-2.232 c3.268,2.034,4.266,6.334,2.23,9.602l-34.916,56.06c-1.213,1.949-3.307,3.175-5.6,3.279C26.685,69.998,26.58,70,26.474,70z" fill="#f13b62"/></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg></span>
                <li>
                  {{section.settings.customization_list_item2}}
                </li>
              </div>
              {% endif %}
              {% if section.settings.customization_list_item3 != blank %}
              <div class="li-wrap">
                    <span><?xml version="1.0" encoding="iso-8859-1"?><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 70 70" style="enable-background:new 0 0 70 70;" xml:space="preserve" width="512px" height="512px"><g><g><g><path d="M26.474,70c-2.176,0-4.234-1.018-5.557-2.764L3.049,43.639C0.725,40.57,1.33,36.2,4.399,33.875 c3.074-2.326,7.441-1.717,9.766,1.35l11.752,15.518L55.474,3.285c2.035-3.265,6.332-4.264,9.604-2.232 c3.268,2.034,4.266,6.334,2.23,9.602l-34.916,56.06c-1.213,1.949-3.307,3.175-5.6,3.279C26.685,69.998,26.58,70,26.474,70z" fill="#f13b62"/></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg></span>
                <li>
                  {{section.settings.customization_list_item3}}
                </li>
              </div>
              {% endif %}
              {% if section.settings.customization_list_item4 != blank %}
              <div class="li-wrap">
                    <span><?xml version="1.0" encoding="iso-8859-1"?><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 70 70" style="enable-background:new 0 0 70 70;" xml:space="preserve" width="512px" height="512px"><g><g><g><path d="M26.474,70c-2.176,0-4.234-1.018-5.557-2.764L3.049,43.639C0.725,40.57,1.33,36.2,4.399,33.875 c3.074-2.326,7.441-1.717,9.766,1.35l11.752,15.518L55.474,3.285c2.035-3.265,6.332-4.264,9.604-2.232 c3.268,2.034,4.266,6.334,2.23,9.602l-34.916,56.06c-1.213,1.949-3.307,3.175-5.6,3.279C26.685,69.998,26.58,70,26.474,70z" fill="#f13b62"/></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg></span>
                <li>
                  {{section.settings.customization_list_item4}}
                </li>
              </div>
              {% endif %}
            </ul>
          </div>
          <div class="grid__item medium-up--one-half det-sec-item">
            <h5 class="details-sec-subtitle">Aufwändiger als 1-Stunde</h5>
            <ul class="other-ul">
              {% if section.settings.other_list_item1 != blank %}
              <div class="li-wrap">
                    <span><?xml version="1.0" encoding="iso-8859-1"?><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 70 70" style="enable-background:new 0 0 70 70;" xml:space="preserve" width="512px" height="512px"><g><g><g><path d="M26.474,70c-2.176,0-4.234-1.018-5.557-2.764L3.049,43.639C0.725,40.57,1.33,36.2,4.399,33.875 c3.074-2.326,7.441-1.717,9.766,1.35l11.752,15.518L55.474,3.285c2.035-3.265,6.332-4.264,9.604-2.232 c3.268,2.034,4.266,6.334,2.23,9.602l-34.916,56.06c-1.213,1.949-3.307,3.175-5.6,3.279C26.685,69.998,26.58,70,26.474,70z" fill="#f13b62"/></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg></span>
                <li>
                  {{section.settings.other_list_item1}}
                </li>
              </div>
			  {% endif %}
              {% if section.settings.other_list_item2 != blank %}
              <div class="li-wrap">
                    <span><?xml version="1.0" encoding="iso-8859-1"?><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 70 70" style="enable-background:new 0 0 70 70;" xml:space="preserve" width="512px" height="512px"><g><g><g><path d="M26.474,70c-2.176,0-4.234-1.018-5.557-2.764L3.049,43.639C0.725,40.57,1.33,36.2,4.399,33.875 c3.074-2.326,7.441-1.717,9.766,1.35l11.752,15.518L55.474,3.285c2.035-3.265,6.332-4.264,9.604-2.232 c3.268,2.034,4.266,6.334,2.23,9.602l-34.916,56.06c-1.213,1.949-3.307,3.175-5.6,3.279C26.685,69.998,26.58,70,26.474,70z" fill="#f13b62"/></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg></span>
                <li>
                  {{section.settings.other_list_item2}}
                </li>
              </div>
              {% endif %}
              {% if section.settings.other_list_item3 != blank %}
              <div class="li-wrap">
                    <span><?xml version="1.0" encoding="iso-8859-1"?><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 70 70" style="enable-background:new 0 0 70 70;" xml:space="preserve" width="512px" height="512px"><g><g><g><path d="M26.474,70c-2.176,0-4.234-1.018-5.557-2.764L3.049,43.639C0.725,40.57,1.33,36.2,4.399,33.875 c3.074-2.326,7.441-1.717,9.766,1.35l11.752,15.518L55.474,3.285c2.035-3.265,6.332-4.264,9.604-2.232 c3.268,2.034,4.266,6.334,2.23,9.602l-34.916,56.06c-1.213,1.949-3.307,3.175-5.6,3.279C26.685,69.998,26.58,70,26.474,70z" fill="#f13b62"/></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg></span>
                <li>
                  {{section.settings.other_list_item3}}
                </li>
              </div>
              {% endif %}
              {% if section.settings.other_list_item4 != blank %}
              <div class="li-wrap">
                    <span><?xml version="1.0" encoding="iso-8859-1"?><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 70 70" style="enable-background:new 0 0 70 70;" xml:space="preserve" width="512px" height="512px"><g><g><g><path d="M26.474,70c-2.176,0-4.234-1.018-5.557-2.764L3.049,43.639C0.725,40.57,1.33,36.2,4.399,33.875 c3.074-2.326,7.441-1.717,9.766,1.35l11.752,15.518L55.474,3.285c2.035-3.265,6.332-4.264,9.604-2.232 c3.268,2.034,4.266,6.334,2.23,9.602l-34.916,56.06c-1.213,1.949-3.307,3.175-5.6,3.279C26.685,69.998,26.58,70,26.474,70z" fill="#f13b62"/></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg></span>
                <li>
                  {{section.settings.other_list_item4}}
                </li>
              </div>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
      <a href="/pages/kontaktformular" class="get-start-btn">
        <button type="submit" name="button">
          <span class="bg-charact">U</span><span class="sml-charact">nverbindlich</span><span class="bg-charact"> A</span><span class="sml-charact">nfragen</span>
        </button>
      </a>
    </div>
  </div>
</div>

<div class="testemolials-sec text-center">
    <div class="page-width">
      <h4 class="how-it-header text-center">Was Kunden über unseren Service sagen &quest;</h4>
      <hr>
    </div>
    <div class="grid page-width">
    <div class="grid__item medium-up--one-half text-center testi-item">
      <div class="item-wrap">
        <span class="dquate-before">
          <?xml version="1.0" encoding="iso-8859-1"?><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve" width="512px" height="512px"><g><g id="right_x5F_quote"><g><path d="M0,4v12h8c0,4.41-3.586,8-8,8v4c6.617,0,12-5.383,12-12V4H0z" fill="#f13b62"/><path d="M20,4v12h8c0,4.41-3.586,8-8,8v4c6.617,0,12-5.383,12-12V4H20z" fill="#f13b62"/></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
        </span>
        <p class="testi-item-paragraph text-left">{{section.settings.testi1_content}}</p>
        <span class="dquate-after">
          <?xml version="1.0" encoding="iso-8859-1"?><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve" width="512px" height="512px"><g><g id="right_x5F_quote"><g><path d="M0,4v12h8c0,4.41-3.586,8-8,8v4c6.617,0,12-5.383,12-12V4H0z" fill="#f13b62"/><path d="M20,4v12h8c0,4.41-3.586,8-8,8v4c6.617,0,12-5.383,12-12V4H20z" fill="#f13b62"/></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
        </span>
        <hr>
        <strong class="cus-title text-left">{{section.settings.testi1_title}}</strong>
      </div>
    </div>
    <div class="grid__item medium-up--one-half text-center testi-item">
      <div class="item-wrap">
        <span class="dquate-before">
          <?xml version="1.0" encoding="iso-8859-1"?><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve" width="512px" height="512px"><g><g id="right_x5F_quote"><g><path d="M0,4v12h8c0,4.41-3.586,8-8,8v4c6.617,0,12-5.383,12-12V4H0z" fill="#f13b62"/><path d="M20,4v12h8c0,4.41-3.586,8-8,8v4c6.617,0,12-5.383,12-12V4H20z" fill="#f13b62"/></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
        </span>
        <p class="testi-item-paragraph text-left">{{section.settings.testi2_content}}</p>
        <span class="dquate-after">
          <?xml version="1.0" encoding="iso-8859-1"?><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve" width="512px" height="512px"><g><g id="right_x5F_quote"><g><path d="M0,4v12h8c0,4.41-3.586,8-8,8v4c6.617,0,12-5.383,12-12V4H0z" fill="#f13b62"/><path d="M20,4v12h8c0,4.41-3.586,8-8,8v4c6.617,0,12-5.383,12-12V4H20z" fill="#f13b62"/></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
        </span>
        <hr>
        <strong class="cus-title text-left">{{section.settings.testi2_title}}</strong>
      </div>
    </div>
    <div class="grid__item text-center testi-item">
      <div class="item-wrap centered-testi">
        <span class="dquate-before">
          <?xml version="1.0" encoding="iso-8859-1"?><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve" width="512px" height="512px"><g><g id="right_x5F_quote"><g><path d="M0,4v12h8c0,4.41-3.586,8-8,8v4c6.617,0,12-5.383,12-12V4H0z" fill="#f13b62"/><path d="M20,4v12h8c0,4.41-3.586,8-8,8v4c6.617,0,12-5.383,12-12V4H20z" fill="#f13b62"/></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
        </span>
        <p class="testi-item-paragraph text-left">{{section.settings.testi3_content}}</p>
        <span class="dquate-after">
          <?xml version="1.0" encoding="iso-8859-1"?><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve" width="512px" height="512px"><g><g id="right_x5F_quote"><g><path d="M0,4v12h8c0,4.41-3.586,8-8,8v4c6.617,0,12-5.383,12-12V4H0z" fill="#f13b62"/><path d="M20,4v12h8c0,4.41-3.586,8-8,8v4c6.617,0,12-5.383,12-12V4H20z" fill="#f13b62"/></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
        </span>
        <hr>
        <strong class="cus-title text-left">{{section.settings.testi3_title}}</strong>
      </div>
    </div>
  </div>
</div>
<div class="faq-sec text-center">
  <div class="page-width">
    <h4 class="how-it-header text-center">FAQ - Häufig gestellte Fragen</h4>
    <hr>
  </div>
  <div class="page-width">

    {% if section.settings.answer2 != blank %}
    <h6 class="faq-question text-left">
      <?xml version="1.0" encoding="iso-8859-1"?><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 345.567 345.567" style="enable-background:new 0 0 345.567 345.567;" xml:space="preserve" width="512px" height="512px"><g><g><path d="M263.342,9.6c-5.98-5.995-14.092-9.375-22.56-9.4h-136V0c-8.481,0.015-16.61,3.396-22.6,9.4 c-5.995,5.98-9.375,14.093-9.4,22.56v285.76c-0.128,7,2.145,13.832,6.44,19.36c6.028,7.745,16.469,10.539,25.56,6.84 c7.998-3.506,14.628-9.532,18.88-17.16l49.12-78.32l49.12,78.32c4.252,7.628,10.882,13.654,18.88,17.16 c9.125,3.746,19.628,0.949,25.68-6.84c4.252-5.544,6.482-12.375,6.32-19.36V31.96C272.694,23.556,269.303,15.525,263.342,9.6z M253.582,326.92c-0.788,1.037-1.878,1.806-3.12,2.2c-1.339,0.293-2.735,0.167-4-0.36c-4.67-2.242-8.518-5.893-11-10.44l-56-89.2 c-0.676-1.126-1.618-2.069-2.744-2.744c-3.789-2.273-8.703-1.045-10.976,2.744l-56,89.08c-2.428,4.609-6.25,8.332-10.92,10.64 c-1.264,0.53-2.661,0.656-4,0.36c-1.242-0.394-2.332-1.163-3.12-2.2c-1.917-2.688-2.875-5.942-2.72-9.24V32 c0.108-8.681,7.119-15.692,15.8-15.8h68h68c8.601,0.152,15.5,7.158,15.52,15.76v285.72 C256.457,320.978,255.499,324.232,253.582,326.92z" fill="#7383bf"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
            {{ section.settings.question1}}</h6>
    <p class="faq-answer text-left answer-active">{{ section.settings.answer1}}</p>
    {% endif %}

    {% if section.settings.answer2 != blank %}
    <h6 class="faq-question text-left">
      <?xml version="1.0" encoding="iso-8859-1"?><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 345.567 345.567" style="enable-background:new 0 0 345.567 345.567;" xml:space="preserve" width="512px" height="512px"><g><g><path d="M263.342,9.6c-5.98-5.995-14.092-9.375-22.56-9.4h-136V0c-8.481,0.015-16.61,3.396-22.6,9.4 c-5.995,5.98-9.375,14.093-9.4,22.56v285.76c-0.128,7,2.145,13.832,6.44,19.36c6.028,7.745,16.469,10.539,25.56,6.84 c7.998-3.506,14.628-9.532,18.88-17.16l49.12-78.32l49.12,78.32c4.252,7.628,10.882,13.654,18.88,17.16 c9.125,3.746,19.628,0.949,25.68-6.84c4.252-5.544,6.482-12.375,6.32-19.36V31.96C272.694,23.556,269.303,15.525,263.342,9.6z M253.582,326.92c-0.788,1.037-1.878,1.806-3.12,2.2c-1.339,0.293-2.735,0.167-4-0.36c-4.67-2.242-8.518-5.893-11-10.44l-56-89.2 c-0.676-1.126-1.618-2.069-2.744-2.744c-3.789-2.273-8.703-1.045-10.976,2.744l-56,89.08c-2.428,4.609-6.25,8.332-10.92,10.64 c-1.264,0.53-2.661,0.656-4,0.36c-1.242-0.394-2.332-1.163-3.12-2.2c-1.917-2.688-2.875-5.942-2.72-9.24V32 c0.108-8.681,7.119-15.692,15.8-15.8h68h68c8.601,0.152,15.5,7.158,15.52,15.76v285.72 C256.457,320.978,255.499,324.232,253.582,326.92z" fill="#7383bf"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
          {{ section.settings.question2}}</h6>
    <p class="faq-answer text-left">{{ section.settings.answer2}}</p>
    {% endif %}

    {% if section.settings.answer3 != blank %}
    <h6 class="faq-question text-left">
      <?xml version="1.0" encoding="iso-8859-1"?><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 345.567 345.567" style="enable-background:new 0 0 345.567 345.567;" xml:space="preserve" width="512px" height="512px"><g><g><path d="M263.342,9.6c-5.98-5.995-14.092-9.375-22.56-9.4h-136V0c-8.481,0.015-16.61,3.396-22.6,9.4 c-5.995,5.98-9.375,14.093-9.4,22.56v285.76c-0.128,7,2.145,13.832,6.44,19.36c6.028,7.745,16.469,10.539,25.56,6.84 c7.998-3.506,14.628-9.532,18.88-17.16l49.12-78.32l49.12,78.32c4.252,7.628,10.882,13.654,18.88,17.16 c9.125,3.746,19.628,0.949,25.68-6.84c4.252-5.544,6.482-12.375,6.32-19.36V31.96C272.694,23.556,269.303,15.525,263.342,9.6z M253.582,326.92c-0.788,1.037-1.878,1.806-3.12,2.2c-1.339,0.293-2.735,0.167-4-0.36c-4.67-2.242-8.518-5.893-11-10.44l-56-89.2 c-0.676-1.126-1.618-2.069-2.744-2.744c-3.789-2.273-8.703-1.045-10.976,2.744l-56,89.08c-2.428,4.609-6.25,8.332-10.92,10.64 c-1.264,0.53-2.661,0.656-4,0.36c-1.242-0.394-2.332-1.163-3.12-2.2c-1.917-2.688-2.875-5.942-2.72-9.24V32 c0.108-8.681,7.119-15.692,15.8-15.8h68h68c8.601,0.152,15.5,7.158,15.52,15.76v285.72 C256.457,320.978,255.499,324.232,253.582,326.92z" fill="#7383bf"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
            {{ section.settings.question3}}</h6>
    <p class="faq-answer text-left">  {{ section.settings.answer3}}</p>
    {% endif %}

    {% if section.settings.answer4 != blank %}
    <h6 class="faq-question text-left">
      <?xml version="1.0" encoding="iso-8859-1"?><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 345.567 345.567" style="enable-background:new 0 0 345.567 345.567;" xml:space="preserve" width="512px" height="512px"><g><g><path d="M263.342,9.6c-5.98-5.995-14.092-9.375-22.56-9.4h-136V0c-8.481,0.015-16.61,3.396-22.6,9.4 c-5.995,5.98-9.375,14.093-9.4,22.56v285.76c-0.128,7,2.145,13.832,6.44,19.36c6.028,7.745,16.469,10.539,25.56,6.84 c7.998-3.506,14.628-9.532,18.88-17.16l49.12-78.32l49.12,78.32c4.252,7.628,10.882,13.654,18.88,17.16 c9.125,3.746,19.628,0.949,25.68-6.84c4.252-5.544,6.482-12.375,6.32-19.36V31.96C272.694,23.556,269.303,15.525,263.342,9.6z M253.582,326.92c-0.788,1.037-1.878,1.806-3.12,2.2c-1.339,0.293-2.735,0.167-4-0.36c-4.67-2.242-8.518-5.893-11-10.44l-56-89.2 c-0.676-1.126-1.618-2.069-2.744-2.744c-3.789-2.273-8.703-1.045-10.976,2.744l-56,89.08c-2.428,4.609-6.25,8.332-10.92,10.64 c-1.264,0.53-2.661,0.656-4,0.36c-1.242-0.394-2.332-1.163-3.12-2.2c-1.917-2.688-2.875-5.942-2.72-9.24V32 c0.108-8.681,7.119-15.692,15.8-15.8h68h68c8.601,0.152,15.5,7.158,15.52,15.76v285.72 C256.457,320.978,255.499,324.232,253.582,326.92z" fill="#7383bf"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
          {{ section.settings.question4}}</h6>
    <p class="faq-answer text-left">{{ section.settings.answer4}}</p>
    {% endif %}

    {% if section.settings.answer5 != blank %}
    <h6 class="faq-question text-left">
      <?xml version="1.0" encoding="iso-8859-1"?><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 345.567 345.567" style="enable-background:new 0 0 345.567 345.567;" xml:space="preserve" width="512px" height="512px"><g><g><path d="M263.342,9.6c-5.98-5.995-14.092-9.375-22.56-9.4h-136V0c-8.481,0.015-16.61,3.396-22.6,9.4 c-5.995,5.98-9.375,14.093-9.4,22.56v285.76c-0.128,7,2.145,13.832,6.44,19.36c6.028,7.745,16.469,10.539,25.56,6.84 c7.998-3.506,14.628-9.532,18.88-17.16l49.12-78.32l49.12,78.32c4.252,7.628,10.882,13.654,18.88,17.16 c9.125,3.746,19.628,0.949,25.68-6.84c4.252-5.544,6.482-12.375,6.32-19.36V31.96C272.694,23.556,269.303,15.525,263.342,9.6z M253.582,326.92c-0.788,1.037-1.878,1.806-3.12,2.2c-1.339,0.293-2.735,0.167-4-0.36c-4.67-2.242-8.518-5.893-11-10.44l-56-89.2 c-0.676-1.126-1.618-2.069-2.744-2.744c-3.789-2.273-8.703-1.045-10.976,2.744l-56,89.08c-2.428,4.609-6.25,8.332-10.92,10.64 c-1.264,0.53-2.661,0.656-4,0.36c-1.242-0.394-2.332-1.163-3.12-2.2c-1.917-2.688-2.875-5.942-2.72-9.24V32 c0.108-8.681,7.119-15.692,15.8-15.8h68h68c8.601,0.152,15.5,7.158,15.52,15.76v285.72 C256.457,320.978,255.499,324.232,253.582,326.92z" fill="#7383bf"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
          {{ section.settings.question5}}</h6>
    <p class="faq-answer text-left">{{ section.settings.answer5}}</p>
    {% endif %}

  </div>

</div>




</div>

<script>
  window.onload = function() {
$(document).ready(function() {
  console.log("hey -h");

  $('h6.faq-question').each(function() {
      $(this).on('click', function() {
        console.log("clicked");
        if ($(this).next('.faq-answer:first').hasClass('answer-active')) {
            $(this).next('.faq-answer:first').removeClass('answer-active');

        } else {
          $('.faq-answer').removeClass('answer-active');
          $(this).next('.faq-answer:first').addClass('answer-active');
        }

      });
  });

var itemDesc = $('.item-desc-text.colr-head-num:nth-child(1)').height();
$('.item-desc-text.colr-head-num:nth-child(1)').css({
  'min-height': itemDesc
});
});
  }

</script>
{% javascript %}
{% endjavascript %}

{% schema %}
  {
    "name": "new service section",
    "settings": [
		{
        "type": "text",
        "id": "video_head",
        "label": "head"
		},
		{
        "type": "text",
        "id": "video_head2",
        "label": "head2"
		},
		{
        "type": "text",
        "id": "video_text",
        "label": "text above video"
		},
		{
        "type": "text",
        "id": "youtube_video_url",
        "label": "youtube video url"
		},
    {
        "type": "image_picker",
        "id": "new_hero",
        "label": "background photo"
		},
    {
        "type": "header",
        "content": "pink bar section"
    },
		{
        "type": "text",
        "id": "bar1_head",
        "label": "bar first icon head"
		},
		{
        "type": "text",
        "id": "bar1_text",
        "label": "bar first icon text"
		},
		{
        "type": "text",
        "id": "bar2_head",
        "label": "bar second icon head"
		},
		{
        "type": "text",
        "id": "bar2_text",
        "label": "bar second icon text"
		},
		{
        "type": "text",
        "id": "bar3_head",
        "label": "bar third icon head"
		},
		{
        "type": "text",
        "id": "bar3_text",
        "label": "bar third icon text"
		},
    {
        "type": "text",
        "id": "hrs1_original_price",
        "label": "hrs1 original price"
    },
    {
        "type": "text",
        "id": "hrs1_sale_price",
        "label": "hrs1 sale price"
    },
    {
        "type": "text",
        "id": "hrs3_original_price",
        "label": "hrs3 original price"
    },
    {
        "type": "text",
        "id": "hrs3_sale_price",
        "label": "hrs3 sale price"
    },
    {
        "type": "header",
        "content": "How it works section"
    },
    {
        "type": "text",
        "id": "quate_1_header",
        "label": "quate 1 title"
    },
    {
        "type": "text",
        "id": "quate_1_text",
        "label": "quate 1 text"
    },
    {
        "type": "text",
        "id": "quate_2_header",
        "label": "quate 2 title"
    },
    {
        "type": "text",
        "id": "quate_2_text",
        "label": "quate 2 text"
    },
    {
        "type": "text",
        "id": "quate_3_header",
        "label": "quate 3 title"
    },
    {
        "type": "text",
        "id": "quate_3_text",
        "label": "quate 3 text"
    },
    {
        "type": "text",
        "id": "quate_4_header",
        "label": "quate 4 title"
    },
    {
        "type": "text",
        "id": "quate_4_text",
        "label": "quate 4 text"
    },
    {
        "type": "header",
        "content": "Customization list"
    },
    {
        "type": "text",
        "id": "customization_list_item1",
        "label": "Customization list item 1"
    },
    {
        "type": "text",
        "id": "customization_list_item2",
        "label": "Customization list item 2"
    },
    {
        "type": "text",
        "id": "customization_list_item3",
        "label": "Customization list item 3"
    },
    {
        "type": "text",
        "id": "customization_list_item4",
        "label": "Customization list item 4"
    },
    {
        "type": "header",
        "content": "other list"
    },
    {
        "type": "text",
        "id": "other_list_item1",
        "label": "other list item 1"
    },
    {
        "type": "text",
        "id": "other_list_item2",
        "label": "other list item 2"
    },
    {
        "type": "text",
        "id": "other_list_item3",
        "label": "other list item 3"
    },
    {
        "type": "text",
        "id": "other_list_item4",
        "label": "other list item 4"
    },
    {
      "type": "header",
      "content": "testimonials section"
    },
    {
      "type": "text",
      "id": "testi1_content",
      "label": "testimonial1 text"
    },
    {
      "type": "text",
      "id": "testi1_title",
      "label": "testimonial1 teller"
    },
    {
      "type": "text",
      "id": "testi2_content",
      "label": "testimonial2 text"
    },
    {
      "type": "text",
      "id": "testi3_content",
      "label": "testimonial3 text"
    },
    {
      "type": "text",
      "id": "testi2_title",
      "label": "testimonial2 teller"
    },
    {
      "type": "text",
      "id": "testi3_title",
      "label": "testimonial3 teller"
    },
    {
        "type": "header",
        "content": "FAQs"
    },
    {
        "type": "text",
        "id": "question1",
        "label": "Questio 1"
    },
    {
        "type": "text",
        "id": "answer1",
        "label": "answer 1"
    },
    {
        "type": "text",
        "id": "question2",
        "label": "Questio 2"
    },
    {
        "type": "text",
        "id": "answer2",
        "label": "answer 2"
    },
    {
        "type": "text",
        "id": "question3",
        "label": "Questio 3"
    },
    {
        "type": "text",
        "id": "answer3",
        "label": "answer 3"
    },
    {
        "type": "text",
        "id": "question4",
        "label": "Questio 4"
    },
    {
        "type": "text",
        "id": "answer4",
        "label": "answer 4"
    },
    {
        "type": "text",
        "id": "question5",
        "label": "Questio 5"
    },
    {
        "type": "text",
        "id": "answer5",
        "label": "answer 5"
    }

	]
  }
{% endschema %}
